
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martial Affairs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
    <div class="container"></div>
      <form action="/" method="post" class="container">
        <!-- Form -->
        <div class="row">
            <div class="heading">
                <h3>Welcome To Our Women Extra Martial Prediction Model</h3>
                <p>Enter your details here.</p>
            </div>
            <!-- first half -->
            <div class="col-md-5">
                <div class="form-group">
                    <label for="marriage_rating">Marriage_Rating</label>
                    <input type="text" class="form-control" required  id="marriage_rating" name="marriage_rating" placeholder="marriage rating">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" required  id="age" name="age"   placeholder="age">
                </div>
                <div class="form-group">
                    <label for="years_married">Years_married</label>
                    <input type="text" class="form-control" required  id="years_married" name="years_married"   placeholder="years_married">
                </div>
                <div class="form-group">
                    <label for="children">children</label>
                    <input type="text" class="form-control" required  id="children" name="children"  placeholder="children">
                </div>
            </div>
            <!-- other half -->
            <div class="offset-md-1 col-md-5">
                <div class="form-group">
                    <label for="religious">Religious</label>
                    <input type="text" class="form-control" required  id="religious" name="religious"   placeholder="religious">
                </div>
                <div class="form-group">
                    <label for="education">Education</label>
                    <input type="text" class="form-control" required  id="education" name="education"   placeholder="education">
                </div>
                <div class="form-group">
                    <label for="occupation">Occupation</label>
                    <input type="text" class="form-control" required  id="occupation" name="occupation"   placeholder="occupation">
                </div>
                <div class="form-group">
                    <label for="hus_occupation">Husband Occupation</label>
                    <input type="text" class="form-control" required  id="hus_occupation" name="hus_occupation"  placeholder="hus_occupation">
                </div>
            </div>
            <div class="col-sm-12" style="text-align: center; padding: 10px 50px 0px 0px;">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
            </div>
            <!-- <input required  type="submit" name="submit"> -->
        </div>
      </form>
    </div>

</body>
</html>